version: 2
jobs:
  build:
    machine: true
    steps:
      # ...
      - run:
          name: Build image
          command: |
            git clone https://github.com/semopuri/test.git
      - run:
          name: Build image
          command: ls -lR
      - run:
          name: Test image
          command: |
            Docker build -t test -f ./test/Dockerfile
